In [1]:
import pandas as pd
import numpy as np
from collections import Counter

In [2]:
# read in dataframe
df = pd.read_csv('dunham_join.csv')

In [8]:
df

,fid,Date,City 1,Country 1,City 2,Country 2,Working,Source,"City, Country","City, Country:1",lat:1,lng,same
0,1,1 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
1,2,2 Jan 1950,Paris,France,NaN,NaN,y,NaN,"Paris, France","Paris, France",48.859116,2.331839,True
2,3,3 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6; SIU Box 39 folder 1,"Paris, France","Paris, France",48.859116,2.331839,True
3,4,4 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6; SIU Box 39 folder 2,"Paris, France","Paris, France",48.859116,2.331839,True
4,5,5 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6; SIU Box 39 folder 3,"Paris, France","Paris, France",48.859116,2.331839,True
5,6,6 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6; SIU Box 39 folder 4,"Paris, France","Paris, France",48.859116,2.331839,True
6,7,7 Jan 1950,Paris,France,NaN,NaN,y,NaN,"Paris, France","Paris, France",48.859116,2.331839,True
7,8,8 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
8,9,9 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
9,10,10 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
10,11,11 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
11,12,12 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
12,13,13 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
13,14,14 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
14,15,15 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
15,16,16 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
16,17,17 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
17,18,18 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
18,19,19 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
19,20,20 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
20,21,21 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
21,22,22 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
22,23,23 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
23,24,24 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
24,25,25 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
25,26,26 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
26,27,27 Jan 1950,Paris,France,NaN,NaN,y,"SIU Box 14 folder 6, 7","Paris, France","Paris, France",48.859116,2.331839,True
27,28,28 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
28,29,29 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
29,30,30 Jan 1950,Paris,France,Cairo,Egypt,n,TWA flight timetable Nov. 1949 from the collec...,"Paris, France","Paris, France",48.859116,2.331839,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1468,1469,2 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1469,1470,3 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1470,1471,4 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1471,1472,5 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1472,1473,6 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1473,1474,7 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1474,1475,8 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1475,1476,9 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1476,1477,10 Dec 1953,Rome,Italy,NaN,NaN,y,SIU Box 39 folder 5,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1477,1478,11 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1478,1479,12 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1479,1480,13 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1480,1481,14 Dec 1953,Rome,Italy,NaN,NaN,y,SIU Box 16 folder 9,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1481,1482,15 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1482,1483,16 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1483,1484,17 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1484,1485,18 Dec 1953,Rome,Italy,NaN,NaN,y,SIU Box 16 folder 9,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1485,1486,19 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1486,1487,20 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1487,1488,21 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1488,1489,22 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1489,1490,23 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1490,1491,24 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1491,1492,25 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1492,1493,26 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1493,1494,27 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1494,1495,28 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1495,1496,29 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1496,1497,30 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1497,1498,31 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True

In [26]:
"""
Loop through data and count two things:

Length of stay = number of consecutive days in same city, call it a single 'trip' (may indicate success in an area)

# of returns to an city = number of trips to a city ( may indicate prefrence )
"""

def compare_previous(df, column):
    """
    compare previous row for change in column value
    """
    return df[column].eq(df[column].shift())

def count_duration(trips):
    """
    count number of rows column value stays the same
    """
    return sorted(trips, key= lambda x: x[1], reverse=True)

def count_returns(trips):
    counts = Counter(elem[0] for elem in trips)
    returns = counts.most_common()
    return returns

def trip_duration_count(df, column):
    """
    Initial loop through data counting trips and their date ranges
    
    """
    count = 0
    results = []
    for i, v in df.iterrows():
        min_date = df['Date'][i]
        lat = v['lat:1']
        lng = v['lng']
        print(lat)
        print(lng)

        if v['same'] != False:
            count += 1
            max_date = df['Date'][count]
            
#             print(i, v['Date'], v[column])
        else:
#             result = {df[column][i-1]: count}
            max_date = df['Date'][i-1]
            min_date = df['Date'][i-count]
            
            result = (df[column][i-1] , count, min_date, max_date, df['lat:1'][i-1], df['lng'][i-1] )
            # just one entry is 1
            if result[1] == 0:
#                 result[df[column][i-1]] = 1
                result = (df[column][i-1] , count+1, min_date, max_date, df['lat:1'][i-1], df['lng'][i-1])
#             print(result)
            #index of trips dict set here
#             results[len(results)] = result
            results.append(result)
            count = 0
#         print(v['same'], min_date, max_date)
    return results
    #     print(i+1, v['City, Country'], v['same'])
    

df['same'] = compare_previous(df, 'City, Country')
#change first entry value to true
df['same'][0] = True

trips = trip_duration_count(df, 'City 1')
durations = count_duration(trips)
returns = count_returns(trips)

c:\python36\lib\site-packages\ipykernel_launcher.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
30.06263
31.249670000000002
30.06263
31.249670000000002
30.06263
31.249670000000002
30.06263
31.249670000000002
30.06263
31.249670000000002
41.878243
12.528089999999999
45.059405
7.652514
45.059405
7.652514
44.423320000000004
8.879033
44.423320000000004
8.879033
44.423320000000004
8.879033
44.423320000000004
8.879033
nan
nan
40.862838
14.237375
40.862838
14.237375
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
nan
nan
43.779175
11.249456
43.779175
11.249456
43.779175
11.249456
43.779175
11.249456
44.503639
11.344398
44.503639
11.344398
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.437934000000006
12.331647
45.437934000000006
12.331647
45.437934000000006
12.331647
45.473702
9.170685
45.045211
9.704932000000001
45.544468
10.208239
45.563427000000004
8.053752000000001
44.423320000000004
8.879033
44.423320000000004
8.879033
45.473702
9.170685
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
-1.448755
-48.487867
-1.448755
-48.487867
-8.055802
-34.921399
-8.055802
-34.921399
-8.055802
-34.921399
-8.055802
-34.921399
-8.055802
-34.921399
-8.055802
-34.921399
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-22.935024
-43.518246000000005
-34.833459999999995
-56.16735
-34.833459999999995
-56.16735
-34.833459999999995
-56.16735
-34.833459999999995
-56.16735
-34.833459999999995
-56.16735
-34.833459999999995
-56.16735
-34.833459999999995
-56.16735
-34.833459999999995
-56.16735
-34.833459999999995
-56.16735
-34.833459999999995
-56.16735
-34.833459999999995
-56.16735
-34.833459999999995
-56.16735
-34.833459999999995
-56.16735
-34.833459999999995
-56.16735
-34.833459999999995
-56.16735
-34.833459999999995
-56.16735
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
-34.607357
-58.454595
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
-33.428532000000004
-70.630133
-33.428532000000004
-70.630133
-33.428532000000004
-70.630133
-33.428532000000004
-70.630133
-33.428532000000004
-70.630133
-33.428532000000004
-70.630133
-33.428532000000004
-70.630133
-33.428532000000004
-70.630133
-33.428532000000004
-70.630133
-33.428532000000004
-70.630133
-33.428532000000004
-70.630133
-33.428532000000004
-70.630133
-33.428532000000004
-70.630133
-33.428532000000004
-70.630133
-33.428532000000004
-70.630133
-33.428532000000004
-70.630133
-33.428532000000004
-70.630133
-33.428532000000004
-70.630133
-34.607357
-58.454595
-38.00228
-57.55754
-38.00228
-57.55754
-38.00228
-57.55754
-38.00228
-57.55754
-38.00228
-57.55754
-38.00228
-57.55754
-38.00228
-57.55754
-38.00228
-57.55754
-38.00228
-57.55754
-38.00228
-57.55754
-38.00228
-57.55754
-38.00228
-57.55754
-38.00228
-57.55754
-38.00228
-57.55754
-38.00228
-57.55754
-38.00228
-57.55754
-38.00228
-57.55754
-38.00228
-57.55754
-38.00228
-57.55754
-38.00228
-57.55754
-38.00228
-57.55754
-38.00228
-57.55754
-34.607357
-58.454595
-34.607357
-58.454595
-12.04318
-77.02824
-12.04318
-77.02824
-12.04318
-77.02824
-12.04318
-77.02824
-12.04318
-77.02824
-12.04318
-77.02824
-12.04318
-77.02824
-12.04318
-77.02824
-12.04318
-77.02824
-12.04318
-77.02824
-12.04318
-77.02824
-12.04318
-77.02824
-12.04318
-77.02824
-12.04318
-77.02824
-12.04318
-77.02824
-12.04318
-77.02824
-12.04318
-77.02824
-12.04318
-77.02824
-12.04318
-77.02824
-12.04318
-77.02824
-12.04318
-77.02824
-12.04318
-77.02824
-12.04318
-77.02824
-12.04318
-77.02824
-0.22985
-78.52495
-0.22985
-78.52495
-0.22985
-78.52495
-0.22985
-78.52495
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
10.96389
-74.79639
10.96389
-74.79639
10.96389
-74.79639
10.39972
-75.51444000000001
10.96389
-74.79639
10.96389
-74.79639
10.96389
-74.79639
10.488010000000001
-66.87919000000001
10.488010000000001
-66.87919000000001
10.488010000000001
-66.87919000000001
10.488010000000001
-66.87919000000001
10.488010000000001
-66.87919000000001
10.488010000000001
-66.87919000000001
10.488010000000001
-66.87919000000001
10.488010000000001
-66.87919000000001
10.488010000000001
-66.87919000000001
10.488010000000001
-66.87919000000001
10.488010000000001
-66.87919000000001
10.488010000000001
-66.87919000000001
17.998652
-76.79512
17.998652
-76.79512
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
17.998652
-76.79512
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
18.539170000000002
-72.335
19.371422
-99.15034399999999
20.673617999999998
-103.35126600000001
20.673617999999998
-103.35126600000001
20.673617999999998
-103.35126600000001
20.673617999999998
-103.35126600000001
20.673617999999998
-103.35126600000001
20.673617999999998
-103.35126600000001
20.673617999999998
-103.35126600000001
20.673617999999998
-103.35126600000001
20.673617999999998
-103.35126600000001
20.673617999999998
-103.35126600000001
20.673617999999998
-103.35126600000001
19.371422
-99.15034399999999
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
53.33928
-6.281314
53.33928
-6.281314
53.33928
-6.281314
53.33928
-6.281314
53.33928
-6.281314
53.33928
-6.281314
53.33928
-6.281314
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
55.704438
12.502119
55.704438
12.502119
55.704438
12.502119
55.704438
12.502119
55.704438
12.502119
55.704438
12.502119
55.704438
12.502119
55.704438
12.502119
55.704438
12.502119
55.704438
12.502119
55.704438
12.502119
55.704438
12.502119
55.704438
12.502119
55.704438
12.502119
55.704438
12.502119
55.704438
12.502119
55.704438
12.502119
55.704438
12.502119
55.704438
12.502119
55.704438
12.502119
55.704438
12.502119
55.704438
12.502119
55.704438
12.502119
55.704438
12.502119
55.704438
12.502119
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
46.132259000000005
3.426668
46.132259000000005
3.426668
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
43.713667
7.264625
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
43.473209999999995
-1.554798
43.473209999999995
-1.554798
43.473209999999995
-1.554798
43.473209999999995
-1.554798
43.473209999999995
-1.554798
nan
nan
43.704624
-1.0557290000000001
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
41.400347
2.159592
41.400347
2.159592
41.400347
2.159592
41.400347
2.159592
41.400347
2.159592
41.400347
2.159592
41.400347
2.159592
41.400347
2.159592
41.400347
2.159592
41.400347
2.159592
41.400347
2.159592
41.400347
2.159592
41.400347
2.159592
41.400347
2.159592
41.400347
2.159592
41.400347
2.159592
43.791577000000004
7.610631
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
45.473702
9.170685
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
38.128634999999996
13.334864999999999
38.128634999999996
13.334864999999999
37.516282000000004
15.076072
37.516282000000004
15.076072
40.862838
14.237375
40.862838
14.237375
40.862838
14.237375
45.059405
7.652514
45.059405
7.652514
44.423320000000004
8.879033
44.423320000000004
8.879033
44.423320000000004
8.879033
44.423320000000004
8.879033
nan
nan
nan
nan
nan
nan
nan
nan
43.295314000000005
5.401581
43.295314000000005
5.401581
43.295314000000005
5.401581
43.295314000000005
5.401581
43.295314000000005
5.401581
43.295314000000005
5.401581
43.295314000000005
5.401581
43.295314000000005
5.401581
43.295314000000005
5.401581
43.295314000000005
5.401581
43.295314000000005
5.401581
43.295314000000005
5.401581
43.295314000000005
5.401581
43.295314000000005
5.401581
43.295314000000005
5.401581
43.295314000000005
5.401581
43.295314000000005
5.401581
43.295314000000005
5.401581
46.946417
7.396392999999999
46.946417
7.396392999999999
46.946417
7.396392999999999
47.377514
8.517105
47.377514
8.517105
47.377514
8.517105
47.377514
8.517105
nan
nan
47.19234
7.4484699999999995
46.525051
6.628008
47.557103999999995
7.597813
47.557103999999995
7.597813
41.878243
12.528089999999999
41.878243
12.528089999999999
37.588525
14.146425
38.128634999999996
13.334864999999999
38.128634999999996
13.334864999999999
38.128634999999996
13.334864999999999
37.516282000000004
15.076072
nan
nan
41.111267
16.861202
41.111267
16.861202
40.862838
14.237375
40.862838
14.237375
40.862838
14.237375
40.862838
14.237375
43.05059
10.623992999999999
43.779175
11.249456
43.779175
11.249456
45.630313
13.795789000000001
45.630313
13.795789000000001
45.630313
13.795789000000001
nan
nan
45.544468
10.208239
45.818948999999996
8.833687
45.818948999999996
8.833687
45.69331
9.663539
45.69331
9.663539
45.450990999999995
11.000391
45.450990999999995
11.000391
44.503639
11.344398
44.503639
11.344398
44.503639
11.344398
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
nan
nan
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
44.842411
-0.570437
44.842411
-0.570437
nan
nan
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
48.859116
2.331839
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
35.691109999999995
-0.64167
35.691109999999995
-0.64167
nan
nan
nan
nan
33.58831
-7.6113800000000005
33.58831
-7.6113800000000005
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
48.859116
2.331839
48.859116
2.331839
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
39.231486
-120.001696
39.231486
-120.001696
39.231486
-120.001696
39.231486
-120.001696
39.231486
-120.001696
39.231486
-120.001696
39.231486
-120.001696
39.231486
-120.001696
39.231486
-120.001696
39.231486
-120.001696
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
23.133905
-82.366128
23.133905
-82.366128
23.133905
-82.366128
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
48.859116
2.331839
nan
nan
nan
nan
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999
41.878243
12.528089999999999

In [31]:
durations

[('London', 106, '6 Jan 1952', '20 Apr 1952', nan, nan),
 ('Paris', 88, '9 Oct 1951', '4 Jan 1952', 48.859116, 2.331839),
 ('Port au Prince', 81, '17 Apr 1951', '6 Jul 1951', nan, nan),
 ('Buenos Aires', 74, '1 Sep 1950', '13 Nov 1950', -34.607357, -58.454595),
 ('New York City', 55, '12 Apr 1950', '5 Jun 1950', nan, nan),
 ('Port-au-Prince',
  45,
  '7 Jul 1951',
  '29 Jul 1951',
  18.539170000000002,
  -72.335),
 ('Paris', 38, '9 Jan 1953', '15 Feb 1953', 48.859116, 2.331839),
 ('Hollywood', 38, '29 Aug 1953', '5 Oct 1953', nan, nan),
 ('Paris', 30, '1 Jan 1950', '30 Jan 1950', 48.859116, 2.331839),
 ('Hollywood', 29, '4 Jul 1953', '1 Aug 1953', nan, nan),
 ('Rio de Janeiro',
  26,
  '15 Jun 1950',
  '10 Jul 1950',
  -22.935024,
  -43.518246000000005),
 ('Kingston', 26, '21 Mar 1951', '15 Apr 1951', 17.998652, -76.79512),
 ('Copenhagen', 24, '11 Jul 1952', '3 Aug 1952', 55.704438, 12.502119),
 ('Lima', 23, '7 Jan 1951', '29 Jan 1951', -12.04318, -77.02824),
 ('San Francisco', 22, '3 May 1953', '24 May 1953', nan, nan),
 ('Mar del Plata', 21, '14 Dec 1950', '3 Jan 1951', -38.00228, -57.55754),
 ('Hollywood', 21, '11 Apr 1953', '1 May 1953', nan, nan),
 ('Milan', 19, '2 Mar 1950', '20 Mar 1950', 45.473702, 9.170685),
 ('Sao Paulo', 18, '12 Jul 1950', '29 Jul 1950', nan, nan),
 ('Santiago',
  17,
  '25 Nov 1950',
  '11 Dec 1950',
  -33.428532000000004,
  -70.630133),
 ('Las Vegas', 17, '13 Aug 1951', '29 Aug 1951', nan, nan),
 ('Marseille', 17, '5 Nov 1952', '13 Nov 1952', 43.295314000000005, 5.401581),
 ('Rio de Janeiro',
  15,
  '31 Jul 1950',
  '14 Aug 1950',
  -22.935024,
  -43.518246000000005),
 ('Montevideo',
  15,
  '16 Aug 1950',
  '30 Aug 1950',
  -34.833459999999995,
  -56.16735),
 ('Barcelona', 15, '16 Sep 1952', '30 Sep 1952', 41.400347, 2.159592),
 ('Bogota', 14, '6 Feb 1951', '19 Feb 1951', nan, nan),
 ('Vancouver', 14, '3 Aug 1953', '16 Aug 1953', nan, nan),
 ('Nottingham', 13, '27 May 1952', '8 Jun 1952', nan, nan),
 ('Birmingham', 13, '10 Jun 1952', '22 Jun 1952', nan, nan),
 ('Bristol', 13, '24 Jun 1952', '6 Jul 1952', nan, nan),
 ('Belfast', 12, '23 Apr 1952', '4 May 1952', nan, nan),
 ('Bournemouth', 12, '14 May 1952', '25 May 1952', nan, nan),
 (nan, 12, '3 Sep 1952', '14 Sep 1952', nan, nan),
 ('Paris', 11, '31 Mar 1950', '10 Apr 1950', 48.859116, 2.331839),
 ('Caracas',
  11,
  '2 Mar 1951',
  '12 Mar 1951',
  10.488010000000001,
  -66.87919000000001),
 ('Milan', 11, '3 Oct 1952', '13 Oct 1952', 45.473702, 9.170685),
 ('Guadalajara',
  10,
  '1 Aug 1951',
  '10 Aug 1951',
  20.673617999999998,
  -103.35126600000001),
 ('Hollywood', 10, '17 Sep 1951', '26 Sep 1951', nan, nan),
 (nan, 9, '15 Nov 1950', '23 Nov 1950', nan, nan),
 ('Las Vegas', 9, '26 May 1953', '3 Jun 1953', nan, nan),
 ('Reno', 9, '24 Jun 1953', '2 Jul 1953', nan, nan),
 ('Crystal Bay, NV', 9, '19 Aug 1953', '27 Aug 1953', 39.231486, -120.001696),
 ('Los Angeles', 9, '14 Oct 1953', '22 Oct 1953', nan, nan),
 ('Rome', 8, '14 Feb 1950', '21 Feb 1950', 41.878243, 12.528089999999999),
 ('Reno', 8, '31 Aug 1951', '7 Sep 1951', nan, nan),
 ('Paris', 8, '25 Feb 1953', '4 Mar 1953', 48.859116, 2.331839),
 ('Hollywood', 8, '9 Jun 1953', '16 Jun 1953', nan, nan),
 (nan, 8, '24 Oct 1953', '31 Oct 1953', nan, nan),
 (nan, 7, '9 Sep 1951', '15 Sep 1951', nan, nan),
 (nan, 7, '6 Mar 1953', '12 Mar 1953', nan, nan),
 (nan, 7, '12 Nov 1953', '18 Nov 1953', nan, nan),
 ('Dublin', 6, '6 May 1952', '11 May 1952', 53.33928, -6.281314),
 ('Paris', 6, '5 Aug 1952', '10 Aug 1952', 48.859116, 2.331839),
 ('Rome', 6, '15 Oct 1952', '20 Oct 1952', 41.878243, 12.528089999999999),
 (nan, 6, '20 Mar 1953', '25 Mar 1953', nan, nan),
 (nan, 6, '4 Apr 1953', '9 Apr 1953', nan, nan),
 ('Recife', 5, '9 Jun 1950', '13 Jun 1950', -8.055802, -34.921399),
 ('Rome', 5, '2 Jan 1953', '6 Jan 1953', 41.878243, 12.528089999999999),
 ('Cairo', 4, '1 Feb 1950', '4 Feb 1950', 30.06263, 31.249670000000002),
 ('Petion-Ville', 4, '16 Mar 1951', '19 Mar 1951', nan, nan),
 (nan, 4, '28 Sep 1951', '1 Oct 1951', nan, nan),
 ('Biarritz', 4, '27 Aug 1952', '30 Aug 1952', 43.473209999999995, -1.554798),
 (nan, 4, '28 Dec 1952', '31 Dec 1952', nan, nan),
 (nan, 4, '17 Feb 1953', '20 Feb 1953', nan, nan),
 ('Reno', 4, '18 Jun 1953', '21 Jun 1953', nan, nan),
 (nan, 4, '6 Nov 1953', '9 Nov 1953', nan, nan),
 ('Genoa', 3, '8 Feb 1950', '9 Feb 1950', 44.423320000000004, 8.879033),
 ('Florence', 3, '24 Feb 1950', '26 Feb 1950', 43.779175, 11.249456),
 ('Quito', 3, '31 Jan 1951', '2 Feb 1951', -0.22985, -78.52495),
 ('Genoa', 3, '30 Oct 1952', '31 Oct 1952', 44.423320000000004, 8.879033),
 ('Santa Margherita, Genoa', 3, '2 Nov 1952', '4 Nov 1952', nan, nan),
 ('Zurich', 3, '18 Nov 1952', '20 Nov 1952', 47.377514, 8.517105),
 ('Naples', 3, '7 Dec 1952', '9 Dec 1952', 40.862838, 14.237375),
 ('Venice', 2, '22 Mar 1950', '23 Mar 1950', 45.437934000000006, 12.331647),
 ('Barranquilla', 2, '23 Feb 1951', '24 Feb 1951', 10.96389, -74.79639),
 ('Barranquilla', 2, '27 Feb 1951', '28 Feb 1951', 10.96389, -74.79639),
 ('New York', 2, '3 Oct 1951', '4 Oct 1951', nan, nan),
 ('London', 2, '8 Jul 1952', '9 Jul 1952', nan, nan),
 (nan, 2, '14 Aug 1952', '15 Aug 1952', nan, nan),
 ('Naples', 2, '26 Oct 1952', '27 Oct 1952', 40.862838, 14.237375),
 ('Bern', 2, '15 Nov 1952', '16 Nov 1952', 46.946417, 7.396392999999999),
 ('Palermo',
  2,
  '30 Nov 1952',
  '1 Dec 1952',
  38.128634999999996,
  13.334864999999999),
 ('Trieste', 2, '14 Dec 1952', '15 Dec 1952', 45.630313, 13.795789000000001),
 ('Bologna', 2, '25 Dec 1952', '26 Dec 1952', 44.503639, 11.344398),
 ('Las Vegas', 2, '6 Jun 1953', '7 Jun 1953', nan, nan),
 ('Havana', 2, '9 Oct 1953', '10 Oct 1953', 23.133905, -82.366128),
 ('San Francisco', 2, '2 Nov 1953', '3 Nov 1953', nan, nan),
 ('Rome', 1, '6 Feb 1950', '5 Feb 1950', 41.878243, 12.528089999999999),
 ('Turin', 1, '7 Feb 1950', '7 Feb 1950', 45.059405, 7.652514),
 (nan, 1, '11 Feb 1950', '10 Feb 1950', nan, nan),
 ('Naples', 1, '12 Feb 1950', '12 Feb 1950', 40.862838, 14.237375),
 (nan, 1, '23 Feb 1950', '22 Feb 1950', nan, nan),
 ('Bologna', 1, '28 Feb 1950', '28 Feb 1950', 44.503639, 11.344398),
 ('Milan', 1, '25 Mar 1950', '24 Mar 1950', 45.473702, 9.170685),
 ('Piacenza', 1, '26 Mar 1950', '25 Mar 1950', 45.045211, 9.704932000000001),
 ('Brescia', 1, '27 Mar 1950', '26 Mar 1950', 45.544468, 10.208239),
 ('Biella',
  1,
  '28 Mar 1950',
  '27 Mar 1950',
  45.563427000000004,
  8.053752000000001),
 ('Genoa', 1, '28 Mar 1950', '28 Mar 1950', 44.423320000000004, 8.879033),
 ('Milan', 1, '30 Mar 1950', '29 Mar 1950', 45.473702, 9.170685),
 ('Belem', 1, '7 Jun 1950', '7 Jun 1950', -1.448755, -48.487867),
 ('Buenos Aires', 1, '13 Dec 1950', '12 Dec 1950', -34.607357, -58.454595),
 ('Buenos Aires', 1, '5 Jan 1951', '5 Jan 1951', -34.607357, -58.454595),
 ('Cali', 1, '4 Feb 1951', '4 Feb 1951', nan, nan),
 ('Medellin', 1, '21 Feb 1951', '21 Feb 1951', nan, nan),
 ('Cartagena', 1, '26 Feb 1951', '25 Feb 1951', 10.39972, -75.51444000000001),
 ('Kingston', 1, '14 Mar 1951', '14 Mar 1951', 17.998652, -76.79512),
 ('Mexico City',
  1,
  '31 Jul 1951',
  '30 Jul 1951',
  19.371422,
  -99.15034399999999),
 ('Mexico City',
  1,
  '12 Aug 1951',
  '11 Aug 1951',
  19.371422,
  -99.15034399999999),
 (nan, 1, '6 Oct 1951', '5 Oct 1951', nan, nan),
 ('New York', 1, '7 Oct 1951', '6 Oct 1951', nan, nan),
 ('Gander', 1, '8 Oct 1951', '7 Oct 1951', nan, nan),
 ('Cairnryan', 1, '22 Apr 1952', '21 Apr 1952', nan, nan),
 ('London', 1, '13 May 1952', '12 May 1952', nan, nan),
 ('Vichy', 1, '12 Aug 1952', '12 Aug 1952', 46.132259000000005, 3.426668),
 ('Juan-les-Pins', 1, '17 Aug 1952', '16 Aug 1952', nan, nan),
 (nan, 1, '18 Aug 1952', '17 Aug 1952', nan, nan),
 ('Marseille?', 1, '19 Aug 1952', '18 Aug 1952', nan, nan),
 (nan, 1, '20 Aug 1952', '19 Aug 1952', nan, nan),
 ('Nice', 1, '21 Aug 1952', '20 Aug 1952', 43.713667, 7.264625),
 (nan, 1, '22 Aug 1952', '22 Aug 1952', nan, nan),
 ('Arachon', 1, '24 Aug 1952', '24 Aug 1952', nan, nan),
 (nan, 1, '26 Aug 1952', '25 Aug 1952', nan, nan),
 (nan, 1, '1 Sep 1952', '31 Aug 1952', nan, nan),
 ('Dax', 1, '2 Sep 1952', '1 Sep 1952', 43.704624, -1.0557290000000001),
 ('Ventimiglia', 1, '2 Oct 1952', '1 Oct 1952', 43.791577000000004, 7.610631),
 ('Palermo',
  1,
  '22 Oct 1952',
  '22 Oct 1952',
  38.128634999999996,
  13.334864999999999),
 ('Catania', 1, '24 Oct 1952', '24 Oct 1952', 37.516282000000004, 15.076072),
 ('Turin', 1, '29 Oct 1952', '29 Oct 1952', 45.059405, 7.652514),
 (nan, 1, '22 Nov 1952', '21 Nov 1952', nan, nan),
 ('Altreu', 1, '23 Nov 1952', '22 Nov 1952', 47.19234, 7.4484699999999995),
 ('Lausanne', 1, '24 Nov 1952', '23 Nov 1952', 46.525051, 6.628008),
 ('Basel', 1, '25 Nov 1952', '25 Nov 1952', 47.557103999999995, 7.597813),
 ('Rome', 1, '27 Nov 1952', '27 Nov 1952', 41.878243, 12.528089999999999),
 ('Sicily', 1, '29 Nov 1952', '28 Nov 1952', 37.588525, 14.146425),
 ('Catania', 1, '3 Dec 1952', '2 Dec 1952', 37.516282000000004, 15.076072),
 (nan, 1, '4 Dec 1952', '3 Dec 1952', nan, nan),
 ('Bari', 1, '5 Dec 1952', '5 Dec 1952', 41.111267, 16.861202),
 ('Livorno', 1, '11 Dec 1952', '10 Dec 1952', 43.05059, 10.623992999999999),
 ('Florence', 1, '12 Dec 1952', '12 Dec 1952', 43.779175, 11.249456),
 ('Padova', 1, '17 Dec 1952', '16 Dec 1952', nan, nan),
 ('Brescia', 1, '18 Dec 1952', '17 Dec 1952', 45.544468, 10.208239),
 ('Varese', 1, '19 Dec 1952', '19 Dec 1952', 45.818948999999996, 8.833687),
 ('Bergamo', 1, '21 Dec 1952', '21 Dec 1952', 45.69331, 9.663539),
 ('Verona', 1, '23 Dec 1952', '23 Dec 1952', 45.450990999999995, 11.000391),
 (nan, 1, '8 Jan 1953', '7 Jan 1953', nan, nan),
 ('Bordeaux', 1, '22 Feb 1953', '22 Feb 1953', 44.842411, -0.570437),
 (nan, 1, '24 Feb 1953', '23 Feb 1953', nan, nan),
 ('Oran', 1, '14 Mar 1953', '14 Mar 1953', 35.691109999999995, -0.64167),
 (nan, 1, '16 Mar 1953', '16 Mar 1953', nan, nan),
 ('Casablanca',
  1,
  '18 Mar 1953',
  '18 Mar 1953',
  33.58831,
  -7.6113800000000005),
 ('Paris', 1, '27 Mar 1953', '27 Mar 1953', 48.859116, 2.331839),
 ('New York City', 1, '29 Mar 1953', '29 Mar 1953', nan, nan),
 ('Chicago', 1, '31 Mar 1953', '30 Mar 1953', nan, nan),
 (nan, 1, '1 Apr 1953', '1 Apr 1953', nan, nan),
 ('Joliet', 1, '3 Apr 1953', '2 Apr 1953', nan, nan),
 ('Hollywood', 1, '5 Jun 1953', '4 Jun 1953', nan, nan),
 ('Hollywood', 1, '23 Jun 1953', '22 Jun 1953', nan, nan),
 (nan, 1, '18 Aug 1953', '17 Aug 1953', nan, nan),
 (nan, 1, '7 Oct 1953', '7 Oct 1953', nan, nan),
 (nan, 1, '12 Oct 1953', '12 Oct 1953', nan, nan),
 ('San Francisco ', 1, '5 Nov 1953', '4 Nov 1953', nan, nan),
 ('Beverly Hills', 1, '11 Nov 1953', '10 Nov 1953', nan, nan),
 ('New York', 1, '20 Nov 1953', '19 Nov 1953', nan, nan),
 ('Paris', 1, '21 Nov 1953', '20 Nov 1953', 48.859116, 2.331839),
 (nan, 1, '22 Nov 1953', '22 Nov 1953', nan, nan)]

In [34]:
df

,fid,Date,City 1,Country 1,City 2,Country 2,Working,Source,"City, Country","City, Country:1",lat:1,lng,same
0,1,1 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
1,2,2 Jan 1950,Paris,France,NaN,NaN,y,NaN,"Paris, France","Paris, France",48.859116,2.331839,True
2,3,3 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6; SIU Box 39 folder 1,"Paris, France","Paris, France",48.859116,2.331839,True
3,4,4 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6; SIU Box 39 folder 2,"Paris, France","Paris, France",48.859116,2.331839,True
4,5,5 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6; SIU Box 39 folder 3,"Paris, France","Paris, France",48.859116,2.331839,True
5,6,6 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6; SIU Box 39 folder 4,"Paris, France","Paris, France",48.859116,2.331839,True
6,7,7 Jan 1950,Paris,France,NaN,NaN,y,NaN,"Paris, France","Paris, France",48.859116,2.331839,True
7,8,8 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
8,9,9 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
9,10,10 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
10,11,11 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
11,12,12 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
12,13,13 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
13,14,14 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
14,15,15 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
15,16,16 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
16,17,17 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
17,18,18 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
18,19,19 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
19,20,20 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
20,21,21 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
21,22,22 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
22,23,23 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
23,24,24 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
24,25,25 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
25,26,26 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
26,27,27 Jan 1950,Paris,France,NaN,NaN,y,"SIU Box 14 folder 6, 7","Paris, France","Paris, France",48.859116,2.331839,True
27,28,28 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
28,29,29 Jan 1950,Paris,France,NaN,NaN,y,SIU Box 14 folder 6,"Paris, France","Paris, France",48.859116,2.331839,True
29,30,30 Jan 1950,Paris,France,Cairo,Egypt,n,TWA flight timetable Nov. 1949 from the collec...,"Paris, France","Paris, France",48.859116,2.331839,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1468,1469,2 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1469,1470,3 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1470,1471,4 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1471,1472,5 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1472,1473,6 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1473,1474,7 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1474,1475,8 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1475,1476,9 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1476,1477,10 Dec 1953,Rome,Italy,NaN,NaN,y,SIU Box 39 folder 5,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1477,1478,11 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1478,1479,12 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1479,1480,13 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1480,1481,14 Dec 1953,Rome,Italy,NaN,NaN,y,SIU Box 16 folder 9,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1481,1482,15 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1482,1483,16 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1483,1484,17 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1484,1485,18 Dec 1953,Rome,Italy,NaN,NaN,y,SIU Box 16 folder 9,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1485,1486,19 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1486,1487,20 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1487,1488,21 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1488,1489,22 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1489,1490,23 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1490,1491,24 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1491,1492,25 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1492,1493,26 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1493,1494,27 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1494,1495,28 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1495,1496,29 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1496,1497,30 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True
1497,1498,31 Dec 1953,Rome,Italy,NaN,NaN,y,NaN,"Rome, Italy","Rome, Italy",41.878243,12.528090,True

In [35]:
trips_df = pd.DataFrame.from_records(durations)

In [40]:
trips_df.loc[trips_df[0] == 'London']

          0    1            2            3   4   5
0    London  106   6 Jan 1952  20 Apr 1952 NaN NaN
77   London    2   8 Jul 1952   9 Jul 1952 NaN NaN
112  London    1  13 May 1952  12 May 1952 NaN NaN

In [41]:
df.loc[df['City 1'] == 'London']

,fid,Date,City 1,Country 1,City 2,Country 2,Working,Source,"City, Country","City, Country:1",lat:1,lng,same
760,761,5 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log; SIU Box 16 folder 1,"London, England",NaN,NaN,NaN,False
761,762,6 Jan 1952,London,England,NaN,NaN,n,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
762,763,7 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
763,764,8 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
764,765,9 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
765,766,10 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
766,767,11 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
767,768,12 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
768,769,13 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
769,770,14 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
770,771,15 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
771,772,16 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
772,773,17 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
773,774,18 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
774,775,19 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
775,776,20 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
776,777,21 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
777,778,22 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
778,779,23 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
779,780,24 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
780,781,25 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
781,782,26 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
782,783,27 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
783,784,28 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
784,785,29 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
785,786,30 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
786,787,31 Jan 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
787,788,1 Feb 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
788,789,2 Feb 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
789,790,3 Feb 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
841,842,26 Mar 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
842,843,27 Mar 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
843,844,28 Mar 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
844,845,29 Mar 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
845,846,30 Mar 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
846,847,31 Mar 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
847,848,1 Apr 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
848,849,2 Apr 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
849,850,3 Apr 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
850,851,4 Apr 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log; SIU Box 16 folder 1,"London, England",NaN,NaN,NaN,True
851,852,5 Apr 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
852,853,6 Apr 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
853,854,7 Apr 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
854,855,8 Apr 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
855,856,9 Apr 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
856,857,10 Apr 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
857,858,11 Apr 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
858,859,12 Apr 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
859,860,13 Apr 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
860,861,14 Apr 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log; SIU Box 39 folder 4,"London, England",NaN,NaN,NaN,True
861,862,15 Apr 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
862,863,16 Apr 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
863,864,17 Apr 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
864,865,18 Apr 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
865,866,19 Apr 1952,London,England,NaN,NaN,y,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
866,867,20 Apr 1952,London,England,NaN,NaN,n,MHS Box 22 Personal Log,"London, England",NaN,NaN,NaN,True
888,889,12 May 1952,London,England,Bournemouth,England,y,MHS Box 22 Personal Log; MHS Box 56 Clippings,"London, England",NaN,NaN,NaN,False
944,945,7 Jul 1952,London,England,NaN,NaN,n,NaN,"London, England",NaN,NaN,NaN,False
945,946,8 Jul 1952,London,England,NaN,NaN,n,SIU Box 16 folder 2,"London, England",NaN,NaN,NaN,True
946,947,9 Jul 1952,London,England,Copenhagen,Denmark,n,NaN,"London, England",NaN,NaN,NaN,True