In [1]:
import pandas as pd
import numpy as np
from collections import Counter

In [2]:
# read in dataframe
df = pd.read_csv('dunham_join.csv')

In [3]:
# cast date/time

In [4]:
"""
Loop through data and count two things:

Length of stay = number of consecutive days in same city, call it a single 'trip' (may indicate success in an area)

# of returns to an city = number of trips to a city ( may indicate prefrence )
"""

def compare_previous(df, column):
    """
    compare previous row for change in column value
    """
    return df[column].eq(df[column].shift())

def count_duration(trips):
    """
    count number of rows column value stays the same
    """
    return sorted(trips, key= lambda x: x[1], reverse=True)

def count_returns(trips):
    counts = Counter(elem[0] for elem in trips)
    returns = counts.most_common()
    return returns

def trip_duration_count(df, column):
    """
    Initial loop through data counting trips and their date ranges
    
    """
    count = 0
    results = []
    for i, v in df.iterrows():
        min_date = df['Date'][i]

        if v['same'] != False:
            count += 1
            max_date = df['Date'][count]
            
#             print(i, v['Date'], v[column])
        else:
#             result = {df[column][i-1]: count}
            max_date = df['Date'][i-1]
            min_date = df['Date'][i-count]
            result = (df[column][i-1] , count, min_date, max_date)
            # just one entry is 1
            if result[1] == 0:
#                 result[df[column][i-1]] = 1
                result = (df[column][i-1] , count+1, min_date, max_date)
#             print(result)
            #index of trips dict set here
#             results[len(results)] = result
            results.append(result)
            count = 0
#         print(v['same'], min_date, max_date)
    return results
    #     print(i+1, v['City, Country'], v['same'])
    

df['same'] = compare_previous(df, 'City, Country')
#change first entry value to true
df['same'][0] = True

trips = trip_duration_count(df, 'City 1')
durations = count_duration(trips)
returns = count_returns(trips)

/usr/lib/python3.6/site-packages/ipykernel_launcher.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [5]:
trips

[('Paris', 30, '1 Jan 1950', '30 Jan 1950'),
 ('Cairo', 4, '1 Feb 1950', '4 Feb 1950'),
 ('Rome', 1, '6 Feb 1950', '5 Feb 1950'),
 ('Turin', 1, '7 Feb 1950', '7 Feb 1950'),
 ('Genoa', 3, '8 Feb 1950', '9 Feb 1950'),
 (nan, 1, '11 Feb 1950', '10 Feb 1950'),
 ('Naples', 1, '12 Feb 1950', '12 Feb 1950'),
 ('Rome', 8, '14 Feb 1950', '21 Feb 1950'),
 (nan, 1, '23 Feb 1950', '22 Feb 1950'),
 ('Florence', 3, '24 Feb 1950', '26 Feb 1950'),
 ('Bologna', 1, '28 Feb 1950', '28 Feb 1950'),
 ('Milan', 19, '2 Mar 1950', '20 Mar 1950'),
 ('Venice', 2, '22 Mar 1950', '23 Mar 1950'),
 ('Milan', 1, '25 Mar 1950', '24 Mar 1950'),
 ('Piacenza', 1, '26 Mar 1950', '25 Mar 1950'),
 ('Brescia', 1, '27 Mar 1950', '26 Mar 1950'),
 ('Biella', 1, '28 Mar 1950', '27 Mar 1950'),
 ('Genoa', 1, '28 Mar 1950', '28 Mar 1950'),
 ('Milan', 1, '30 Mar 1950', '29 Mar 1950'),
 ('Paris', 11, '31 Mar 1950', '10 Apr 1950'),
 ('New York City', 55, '12 Apr 1950', '5 Jun 1950'),
 ('Belem', 1, '7 Jun 1950', '7 Jun 1950'),
 ('Recife', 5, '9 Jun 1950', '13 Jun 1950'),
 ('Rio de Janeiro', 26, '15 Jun 1950', '10 Jul 1950'),
 ('Sao Paulo', 18, '12 Jul 1950', '29 Jul 1950'),
 ('Rio de Janeiro', 15, '31 Jul 1950', '14 Aug 1950'),
 ('Montevideo', 15, '16 Aug 1950', '30 Aug 1950'),
 ('Buenos Aires', 74, '1 Sep 1950', '13 Nov 1950'),
 (nan, 9, '15 Nov 1950', '23 Nov 1950'),
 ('Santiago', 17, '25 Nov 1950', '11 Dec 1950'),
 ('Buenos Aires', 1, '13 Dec 1950', '12 Dec 1950'),
 ('Mar del Plata', 21, '14 Dec 1950', '3 Jan 1951'),
 ('Buenos Aires', 1, '5 Jan 1951', '5 Jan 1951'),
 ('Lima', 23, '7 Jan 1951', '29 Jan 1951'),
 ('Quito', 3, '31 Jan 1951', '2 Feb 1951'),
 ('Cali', 1, '4 Feb 1951', '4 Feb 1951'),
 ('Bogota', 14, '6 Feb 1951', '19 Feb 1951'),
 ('Medellin', 1, '21 Feb 1951', '21 Feb 1951'),
 ('Barranquilla', 2, '23 Feb 1951', '24 Feb 1951'),
 ('Cartagena', 1, '26 Feb 1951', '25 Feb 1951'),
 ('Barranquilla', 2, '27 Feb 1951', '28 Feb 1951'),
 ('Caracas', 11, '2 Mar 1951', '12 Mar 1951'),
 ('Kingston', 1, '14 Mar 1951', '14 Mar 1951'),
 ('Petion-Ville', 4, '16 Mar 1951', '19 Mar 1951'),
 ('Kingston', 26, '21 Mar 1951', '15 Apr 1951'),
 ('Port au Prince', 81, '17 Apr 1951', '6 Jul 1951'),
 ('Port-au-Prince', 45, '7 Jul 1951', '29 Jul 1951'),
 ('Mexico City', 1, '31 Jul 1951', '30 Jul 1951'),
 ('Guadalajara', 10, '1 Aug 1951', '10 Aug 1951'),
 ('Mexico City', 1, '12 Aug 1951', '11 Aug 1951'),
 ('Las Vegas', 17, '13 Aug 1951', '29 Aug 1951'),
 ('Reno', 8, '31 Aug 1951', '7 Sep 1951'),
 (nan, 7, '9 Sep 1951', '15 Sep 1951'),
 ('Hollywood', 10, '17 Sep 1951', '26 Sep 1951'),
 (nan, 4, '28 Sep 1951', '1 Oct 1951'),
 ('New York', 2, '3 Oct 1951', '4 Oct 1951'),
 (nan, 1, '6 Oct 1951', '5 Oct 1951'),
 ('New York', 1, '7 Oct 1951', '6 Oct 1951'),
 ('Gander', 1, '8 Oct 1951', '7 Oct 1951'),
 ('Paris', 88, '9 Oct 1951', '4 Jan 1952'),
 ('London', 106, '6 Jan 1952', '20 Apr 1952'),
 ('Cairnryan', 1, '22 Apr 1952', '21 Apr 1952'),
 ('Belfast', 12, '23 Apr 1952', '4 May 1952'),
 ('Dublin', 6, '6 May 1952', '11 May 1952'),
 ('London', 1, '13 May 1952', '12 May 1952'),
 ('Bournemouth', 12, '14 May 1952', '25 May 1952'),
 ('Nottingham', 13, '27 May 1952', '8 Jun 1952'),
 ('Birmingham', 13, '10 Jun 1952', '22 Jun 1952'),
 ('Bristol', 13, '24 Jun 1952', '6 Jul 1952'),
 ('London', 2, '8 Jul 1952', '9 Jul 1952'),
 ('Copenhagen', 24, '11 Jul 1952', '3 Aug 1952'),
 ('Paris', 6, '5 Aug 1952', '10 Aug 1952'),
 ('Vichy', 1, '12 Aug 1952', '12 Aug 1952'),
 (nan, 2, '14 Aug 1952', '15 Aug 1952'),
 ('Juan-les-Pins', 1, '17 Aug 1952', '16 Aug 1952'),
 (nan, 1, '18 Aug 1952', '17 Aug 1952'),
 ('Marseille?', 1, '19 Aug 1952', '18 Aug 1952'),
 (nan, 1, '20 Aug 1952', '19 Aug 1952'),
 ('Nice', 1, '21 Aug 1952', '20 Aug 1952'),
 (nan, 1, '22 Aug 1952', '22 Aug 1952'),
 ('Arachon', 1, '24 Aug 1952', '24 Aug 1952'),
 (nan, 1, '26 Aug 1952', '25 Aug 1952'),
 ('Biarritz', 4, '27 Aug 1952', '30 Aug 1952'),
 (nan, 1, '1 Sep 1952', '31 Aug 1952'),
 ('Dax', 1, '2 Sep 1952', '1 Sep 1952'),
 (nan, 12, '3 Sep 1952', '14 Sep 1952'),
 ('Barcelona', 15, '16 Sep 1952', '30 Sep 1952'),
 ('Ventimiglia', 1, '2 Oct 1952', '1 Oct 1952'),
 ('Milan', 11, '3 Oct 1952', '13 Oct 1952'),
 ('Rome', 6, '15 Oct 1952', '20 Oct 1952'),
 ('Palermo', 1, '22 Oct 1952', '22 Oct 1952'),
 ('Catania', 1, '24 Oct 1952', '24 Oct 1952'),
 ('Naples', 2, '26 Oct 1952', '27 Oct 1952'),
 ('Turin', 1, '29 Oct 1952', '29 Oct 1952'),
 ('Genoa', 3, '30 Oct 1952', '31 Oct 1952'),
 ('Santa Margherita, Genoa', 3, '2 Nov 1952', '4 Nov 1952'),
 ('Marseille', 17, '5 Nov 1952', '13 Nov 1952'),
 ('Bern', 2, '15 Nov 1952', '16 Nov 1952'),
 ('Zurich', 3, '18 Nov 1952', '20 Nov 1952'),
 (nan, 1, '22 Nov 1952', '21 Nov 1952'),
 ('Altreu', 1, '23 Nov 1952', '22 Nov 1952'),
 ('Lausanne', 1, '24 Nov 1952', '23 Nov 1952'),
 ('Basel', 1, '25 Nov 1952', '25 Nov 1952'),
 ('Rome', 1, '27 Nov 1952', '27 Nov 1952'),
 ('Sicily', 1, '29 Nov 1952', '28 Nov 1952'),
 ('Palermo', 2, '30 Nov 1952', '1 Dec 1952'),
 ('Catania', 1, '3 Dec 1952', '2 Dec 1952'),
 (nan, 1, '4 Dec 1952', '3 Dec 1952'),
 ('Bari', 1, '5 Dec 1952', '5 Dec 1952'),
 ('Naples', 3, '7 Dec 1952', '9 Dec 1952'),
 ('Livorno', 1, '11 Dec 1952', '10 Dec 1952'),
 ('Florence', 1, '12 Dec 1952', '12 Dec 1952'),
 ('Trieste', 2, '14 Dec 1952', '15 Dec 1952'),
 ('Padova', 1, '17 Dec 1952', '16 Dec 1952'),
 ('Brescia', 1, '18 Dec 1952', '17 Dec 1952'),
 ('Varese', 1, '19 Dec 1952', '19 Dec 1952'),
 ('Bergamo', 1, '21 Dec 1952', '21 Dec 1952'),
 ('Verona', 1, '23 Dec 1952', '23 Dec 1952'),
 ('Bologna', 2, '25 Dec 1952', '26 Dec 1952'),
 (nan, 4, '28 Dec 1952', '31 Dec 1952'),
 ('Rome', 5, '2 Jan 1953', '6 Jan 1953'),
 (nan, 1, '8 Jan 1953', '7 Jan 1953'),
 ('Paris', 38, '9 Jan 1953', '15 Feb 1953'),
 (nan, 4, '17 Feb 1953', '20 Feb 1953'),
 ('Bordeaux', 1, '22 Feb 1953', '22 Feb 1953'),
 (nan, 1, '24 Feb 1953', '23 Feb 1953'),
 ('Paris', 8, '25 Feb 1953', '4 Mar 1953'),
 (nan, 7, '6 Mar 1953', '12 Mar 1953'),
 ('Oran', 1, '14 Mar 1953', '14 Mar 1953'),
 (nan, 1, '16 Mar 1953', '16 Mar 1953'),
 ('Casablanca', 1, '18 Mar 1953', '18 Mar 1953'),
 (nan, 6, '20 Mar 1953', '25 Mar 1953'),
 ('Paris', 1, '27 Mar 1953', '27 Mar 1953'),
 ('New York City', 1, '29 Mar 1953', '29 Mar 1953'),
 ('Chicago', 1, '31 Mar 1953', '30 Mar 1953'),
 (nan, 1, '1 Apr 1953', '1 Apr 1953'),
 ('Joliet', 1, '3 Apr 1953', '2 Apr 1953'),
 (nan, 6, '4 Apr 1953', '9 Apr 1953'),
 ('Hollywood', 21, '11 Apr 1953', '1 May 1953'),
 ('San Francisco', 22, '3 May 1953', '24 May 1953'),
 ('Las Vegas', 9, '26 May 1953', '3 Jun 1953'),
 ('Hollywood', 1, '5 Jun 1953', '4 Jun 1953'),
 ('Las Vegas', 2, '6 Jun 1953', '7 Jun 1953'),
 ('Hollywood', 8, '9 Jun 1953', '16 Jun 1953'),
 ('Reno', 4, '18 Jun 1953', '21 Jun 1953'),
 ('Hollywood', 1, '23 Jun 1953', '22 Jun 1953'),
 ('Reno', 9, '24 Jun 1953', '2 Jul 1953'),
 ('Hollywood', 29, '4 Jul 1953', '1 Aug 1953'),
 ('Vancouver', 14, '3 Aug 1953', '16 Aug 1953'),
 (nan, 1, '18 Aug 1953', '17 Aug 1953'),
 ('Crystal Bay, NV', 9, '19 Aug 1953', '27 Aug 1953'),
 ('Hollywood', 38, '29 Aug 1953', '5 Oct 1953'),
 (nan, 1, '7 Oct 1953', '7 Oct 1953'),
 ('Havana', 2, '9 Oct 1953', '10 Oct 1953'),
 (nan, 1, '12 Oct 1953', '12 Oct 1953'),
 ('Los Angeles', 9, '14 Oct 1953', '22 Oct 1953'),
 (nan, 8, '24 Oct 1953', '31 Oct 1953'),
 ('San Francisco', 2, '2 Nov 1953', '3 Nov 1953'),
 ('San Francisco ', 1, '5 Nov 1953', '4 Nov 1953'),
 (nan, 4, '6 Nov 1953', '9 Nov 1953'),
 ('Beverly Hills', 1, '11 Nov 1953', '10 Nov 1953'),
 (nan, 7, '12 Nov 1953', '18 Nov 1953'),
 ('New York', 1, '20 Nov 1953', '19 Nov 1953'),
 ('Paris', 1, '21 Nov 1953', '20 Nov 1953'),
 (nan, 1, '22 Nov 1953', '22 Nov 1953')]

In [6]:
durations

[('London', 106, '6 Jan 1952', '20 Apr 1952'),
 ('Paris', 88, '9 Oct 1951', '4 Jan 1952'),
 ('Port au Prince', 81, '17 Apr 1951', '6 Jul 1951'),
 ('Buenos Aires', 74, '1 Sep 1950', '13 Nov 1950'),
 ('New York City', 55, '12 Apr 1950', '5 Jun 1950'),
 ('Port-au-Prince', 45, '7 Jul 1951', '29 Jul 1951'),
 ('Paris', 38, '9 Jan 1953', '15 Feb 1953'),
 ('Hollywood', 38, '29 Aug 1953', '5 Oct 1953'),
 ('Paris', 30, '1 Jan 1950', '30 Jan 1950'),
 ('Hollywood', 29, '4 Jul 1953', '1 Aug 1953'),
 ('Rio de Janeiro', 26, '15 Jun 1950', '10 Jul 1950'),
 ('Kingston', 26, '21 Mar 1951', '15 Apr 1951'),
 ('Copenhagen', 24, '11 Jul 1952', '3 Aug 1952'),
 ('Lima', 23, '7 Jan 1951', '29 Jan 1951'),
 ('San Francisco', 22, '3 May 1953', '24 May 1953'),
 ('Mar del Plata', 21, '14 Dec 1950', '3 Jan 1951'),
 ('Hollywood', 21, '11 Apr 1953', '1 May 1953'),
 ('Milan', 19, '2 Mar 1950', '20 Mar 1950'),
 ('Sao Paulo', 18, '12 Jul 1950', '29 Jul 1950'),
 ('Santiago', 17, '25 Nov 1950', '11 Dec 1950'),
 ('Las Vegas', 17, '13 Aug 1951', '29 Aug 1951'),
 ('Marseille', 17, '5 Nov 1952', '13 Nov 1952'),
 ('Rio de Janeiro', 15, '31 Jul 1950', '14 Aug 1950'),
 ('Montevideo', 15, '16 Aug 1950', '30 Aug 1950'),
 ('Barcelona', 15, '16 Sep 1952', '30 Sep 1952'),
 ('Bogota', 14, '6 Feb 1951', '19 Feb 1951'),
 ('Vancouver', 14, '3 Aug 1953', '16 Aug 1953'),
 ('Nottingham', 13, '27 May 1952', '8 Jun 1952'),
 ('Birmingham', 13, '10 Jun 1952', '22 Jun 1952'),
 ('Bristol', 13, '24 Jun 1952', '6 Jul 1952'),
 ('Belfast', 12, '23 Apr 1952', '4 May 1952'),
 ('Bournemouth', 12, '14 May 1952', '25 May 1952'),
 (nan, 12, '3 Sep 1952', '14 Sep 1952'),
 ('Paris', 11, '31 Mar 1950', '10 Apr 1950'),
 ('Caracas', 11, '2 Mar 1951', '12 Mar 1951'),
 ('Milan', 11, '3 Oct 1952', '13 Oct 1952'),
 ('Guadalajara', 10, '1 Aug 1951', '10 Aug 1951'),
 ('Hollywood', 10, '17 Sep 1951', '26 Sep 1951'),
 (nan, 9, '15 Nov 1950', '23 Nov 1950'),
 ('Las Vegas', 9, '26 May 1953', '3 Jun 1953'),
 ('Reno', 9, '24 Jun 1953', '2 Jul 1953'),
 ('Crystal Bay, NV', 9, '19 Aug 1953', '27 Aug 1953'),
 ('Los Angeles', 9, '14 Oct 1953', '22 Oct 1953'),
 ('Rome', 8, '14 Feb 1950', '21 Feb 1950'),
 ('Reno', 8, '31 Aug 1951', '7 Sep 1951'),
 ('Paris', 8, '25 Feb 1953', '4 Mar 1953'),
 ('Hollywood', 8, '9 Jun 1953', '16 Jun 1953'),
 (nan, 8, '24 Oct 1953', '31 Oct 1953'),
 (nan, 7, '9 Sep 1951', '15 Sep 1951'),
 (nan, 7, '6 Mar 1953', '12 Mar 1953'),
 (nan, 7, '12 Nov 1953', '18 Nov 1953'),
 ('Dublin', 6, '6 May 1952', '11 May 1952'),
 ('Paris', 6, '5 Aug 1952', '10 Aug 1952'),
 ('Rome', 6, '15 Oct 1952', '20 Oct 1952'),
 (nan, 6, '20 Mar 1953', '25 Mar 1953'),
 (nan, 6, '4 Apr 1953', '9 Apr 1953'),
 ('Recife', 5, '9 Jun 1950', '13 Jun 1950'),
 ('Rome', 5, '2 Jan 1953', '6 Jan 1953'),
 ('Cairo', 4, '1 Feb 1950', '4 Feb 1950'),
 ('Petion-Ville', 4, '16 Mar 1951', '19 Mar 1951'),
 (nan, 4, '28 Sep 1951', '1 Oct 1951'),
 ('Biarritz', 4, '27 Aug 1952', '30 Aug 1952'),
 (nan, 4, '28 Dec 1952', '31 Dec 1952'),
 (nan, 4, '17 Feb 1953', '20 Feb 1953'),
 ('Reno', 4, '18 Jun 1953', '21 Jun 1953'),
 (nan, 4, '6 Nov 1953', '9 Nov 1953'),
 ('Genoa', 3, '8 Feb 1950', '9 Feb 1950'),
 ('Florence', 3, '24 Feb 1950', '26 Feb 1950'),
 ('Quito', 3, '31 Jan 1951', '2 Feb 1951'),
 ('Genoa', 3, '30 Oct 1952', '31 Oct 1952'),
 ('Santa Margherita, Genoa', 3, '2 Nov 1952', '4 Nov 1952'),
 ('Zurich', 3, '18 Nov 1952', '20 Nov 1952'),
 ('Naples', 3, '7 Dec 1952', '9 Dec 1952'),
 ('Venice', 2, '22 Mar 1950', '23 Mar 1950'),
 ('Barranquilla', 2, '23 Feb 1951', '24 Feb 1951'),
 ('Barranquilla', 2, '27 Feb 1951', '28 Feb 1951'),
 ('New York', 2, '3 Oct 1951', '4 Oct 1951'),
 ('London', 2, '8 Jul 1952', '9 Jul 1952'),
 (nan, 2, '14 Aug 1952', '15 Aug 1952'),
 ('Naples', 2, '26 Oct 1952', '27 Oct 1952'),
 ('Bern', 2, '15 Nov 1952', '16 Nov 1952'),
 ('Palermo', 2, '30 Nov 1952', '1 Dec 1952'),
 ('Trieste', 2, '14 Dec 1952', '15 Dec 1952'),
 ('Bologna', 2, '25 Dec 1952', '26 Dec 1952'),
 ('Las Vegas', 2, '6 Jun 1953', '7 Jun 1953'),
 ('Havana', 2, '9 Oct 1953', '10 Oct 1953'),
 ('San Francisco', 2, '2 Nov 1953', '3 Nov 1953'),
 ('Rome', 1, '6 Feb 1950', '5 Feb 1950'),
 ('Turin', 1, '7 Feb 1950', '7 Feb 1950'),
 (nan, 1, '11 Feb 1950', '10 Feb 1950'),
 ('Naples', 1, '12 Feb 1950', '12 Feb 1950'),
 (nan, 1, '23 Feb 1950', '22 Feb 1950'),
 ('Bologna', 1, '28 Feb 1950', '28 Feb 1950'),
 ('Milan', 1, '25 Mar 1950', '24 Mar 1950'),
 ('Piacenza', 1, '26 Mar 1950', '25 Mar 1950'),
 ('Brescia', 1, '27 Mar 1950', '26 Mar 1950'),
 ('Biella', 1, '28 Mar 1950', '27 Mar 1950'),
 ('Genoa', 1, '28 Mar 1950', '28 Mar 1950'),
 ('Milan', 1, '30 Mar 1950', '29 Mar 1950'),
 ('Belem', 1, '7 Jun 1950', '7 Jun 1950'),
 ('Buenos Aires', 1, '13 Dec 1950', '12 Dec 1950'),
 ('Buenos Aires', 1, '5 Jan 1951', '5 Jan 1951'),
 ('Cali', 1, '4 Feb 1951', '4 Feb 1951'),
 ('Medellin', 1, '21 Feb 1951', '21 Feb 1951'),
 ('Cartagena', 1, '26 Feb 1951', '25 Feb 1951'),
 ('Kingston', 1, '14 Mar 1951', '14 Mar 1951'),
 ('Mexico City', 1, '31 Jul 1951', '30 Jul 1951'),
 ('Mexico City', 1, '12 Aug 1951', '11 Aug 1951'),
 (nan, 1, '6 Oct 1951', '5 Oct 1951'),
 ('New York', 1, '7 Oct 1951', '6 Oct 1951'),
 ('Gander', 1, '8 Oct 1951', '7 Oct 1951'),
 ('Cairnryan', 1, '22 Apr 1952', '21 Apr 1952'),
 ('London', 1, '13 May 1952', '12 May 1952'),
 ('Vichy', 1, '12 Aug 1952', '12 Aug 1952'),
 ('Juan-les-Pins', 1, '17 Aug 1952', '16 Aug 1952'),
 (nan, 1, '18 Aug 1952', '17 Aug 1952'),
 ('Marseille?', 1, '19 Aug 1952', '18 Aug 1952'),
 (nan, 1, '20 Aug 1952', '19 Aug 1952'),
 ('Nice', 1, '21 Aug 1952', '20 Aug 1952'),
 (nan, 1, '22 Aug 1952', '22 Aug 1952'),
 ('Arachon', 1, '24 Aug 1952', '24 Aug 1952'),
 (nan, 1, '26 Aug 1952', '25 Aug 1952'),
 (nan, 1, '1 Sep 1952', '31 Aug 1952'),
 ('Dax', 1, '2 Sep 1952', '1 Sep 1952'),
 ('Ventimiglia', 1, '2 Oct 1952', '1 Oct 1952'),
 ('Palermo', 1, '22 Oct 1952', '22 Oct 1952'),
 ('Catania', 1, '24 Oct 1952', '24 Oct 1952'),
 ('Turin', 1, '29 Oct 1952', '29 Oct 1952'),
 (nan, 1, '22 Nov 1952', '21 Nov 1952'),
 ('Altreu', 1, '23 Nov 1952', '22 Nov 1952'),
 ('Lausanne', 1, '24 Nov 1952', '23 Nov 1952'),
 ('Basel', 1, '25 Nov 1952', '25 Nov 1952'),
 ('Rome', 1, '27 Nov 1952', '27 Nov 1952'),
 ('Sicily', 1, '29 Nov 1952', '28 Nov 1952'),
 ('Catania', 1, '3 Dec 1952', '2 Dec 1952'),
 (nan, 1, '4 Dec 1952', '3 Dec 1952'),
 ('Bari', 1, '5 Dec 1952', '5 Dec 1952'),
 ('Livorno', 1, '11 Dec 1952', '10 Dec 1952'),
 ('Florence', 1, '12 Dec 1952', '12 Dec 1952'),
 ('Padova', 1, '17 Dec 1952', '16 Dec 1952'),
 ('Brescia', 1, '18 Dec 1952', '17 Dec 1952'),
 ('Varese', 1, '19 Dec 1952', '19 Dec 1952'),
 ('Bergamo', 1, '21 Dec 1952', '21 Dec 1952'),
 ('Verona', 1, '23 Dec 1952', '23 Dec 1952'),
 (nan, 1, '8 Jan 1953', '7 Jan 1953'),
 ('Bordeaux', 1, '22 Feb 1953', '22 Feb 1953'),
 (nan, 1, '24 Feb 1953', '23 Feb 1953'),
 ('Oran', 1, '14 Mar 1953', '14 Mar 1953'),
 (nan, 1, '16 Mar 1953', '16 Mar 1953'),
 ('Casablanca', 1, '18 Mar 1953', '18 Mar 1953'),
 ('Paris', 1, '27 Mar 1953', '27 Mar 1953'),
 ('New York City', 1, '29 Mar 1953', '29 Mar 1953'),
 ('Chicago', 1, '31 Mar 1953', '30 Mar 1953'),
 (nan, 1, '1 Apr 1953', '1 Apr 1953'),
 ('Joliet', 1, '3 Apr 1953', '2 Apr 1953'),
 ('Hollywood', 1, '5 Jun 1953', '4 Jun 1953'),
 ('Hollywood', 1, '23 Jun 1953', '22 Jun 1953'),
 (nan, 1, '18 Aug 1953', '17 Aug 1953'),
 (nan, 1, '7 Oct 1953', '7 Oct 1953'),
 (nan, 1, '12 Oct 1953', '12 Oct 1953'),
 ('San Francisco ', 1, '5 Nov 1953', '4 Nov 1953'),
 ('Beverly Hills', 1, '11 Nov 1953', '10 Nov 1953'),
 ('New York', 1, '20 Nov 1953', '19 Nov 1953'),
 ('Paris', 1, '21 Nov 1953', '20 Nov 1953'),
 (nan, 1, '22 Nov 1953', '22 Nov 1953')]

In [7]:
returns

[(nan, 31),
 ('Paris', 8),
 ('Hollywood', 7),
 ('Rome', 5),
 ('Milan', 4),
 ('Genoa', 3),
 ('Naples', 3),
 ('Buenos Aires', 3),
 ('Las Vegas', 3),
 ('Reno', 3),
 ('New York', 3),
 ('London', 3),
 ('Turin', 2),
 ('Florence', 2),
 ('Bologna', 2),
 ('Brescia', 2),
 ('New York City', 2),
 ('Rio de Janeiro', 2),
 ('Barranquilla', 2),
 ('Kingston', 2),
 ('Mexico City', 2),
 ('Palermo', 2),
 ('Catania', 2),
 ('San Francisco', 2),
 ('Cairo', 1),
 ('Venice', 1),
 ('Piacenza', 1),
 ('Biella', 1),
 ('Belem', 1),
 ('Recife', 1),
 ('Sao Paulo', 1),
 ('Montevideo', 1),
 ('Santiago', 1),
 ('Mar del Plata', 1),
 ('Lima', 1),
 ('Quito', 1),
 ('Cali', 1),
 ('Bogota', 1),
 ('Medellin', 1),
 ('Cartagena', 1),
 ('Caracas', 1),
 ('Petion-Ville', 1),
 ('Port au Prince', 1),
 ('Port-au-Prince', 1),
 ('Guadalajara', 1),
 ('Gander', 1),
 ('Cairnryan', 1),
 ('Belfast', 1),
 ('Dublin', 1),
 ('Bournemouth', 1),
 ('Nottingham', 1),
 ('Birmingham', 1),
 ('Bristol', 1),
 ('Copenhagen', 1),
 ('Vichy', 1),
 ('Juan-les-Pins', 1),
 ('Marseille?', 1),
 ('Nice', 1),
 ('Arachon', 1),
 ('Biarritz', 1),
 ('Dax', 1),
 ('Barcelona', 1),
 ('Ventimiglia', 1),
 ('Santa Margherita, Genoa', 1),
 ('Marseille', 1),
 ('Bern', 1),
 ('Zurich', 1),
 ('Altreu', 1),
 ('Lausanne', 1),
 ('Basel', 1),
 ('Sicily', 1),
 ('Bari', 1),
 ('Livorno', 1),
 ('Trieste', 1),
 ('Padova', 1),
 ('Varese', 1),
 ('Bergamo', 1),
 ('Verona', 1),
 ('Bordeaux', 1),
 ('Oran', 1),
 ('Casablanca', 1),
 ('Chicago', 1),
 ('Joliet', 1),
 ('Vancouver', 1),
 ('Crystal Bay, NV', 1),
 ('Havana', 1),
 ('Los Angeles', 1),
 ('San Francisco ', 1),
 ('Beverly Hills', 1)]